<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <div class="name">
            <h1>Raushan kumar</h1>
        </div>
        <div class="nav">
        <a href="#About">About</a>
        <a href="#My skill">My skill</a>
        <a href="/login">Logout</a>
        </div>
    </div>
<div class="top-container">
          <div class="title-text">
          <h1>I,m Raushan kumar</h1>
         </div> 
    <div class="text">
     <h2>a <u>pro</u>gramer.</h2>
    </div>
</div>
    <div class="middle-container">
        <h1 class="about">About</h1>
      <div class="profile">
        <img src="w.png" alt="profile">
        <div class="in-profile">
        <h1>Hello.</h1>
        <p class="intro">I am an Android developer and web developer.
           <br>I love to cofee and travelling in mansoon. 
         </p>
       </div>
      </div>
    <div class="skill">
        <h2>My skill</h2>
        <div class="prent">
        <div class="typing">
            <img src="cat-typing.gif" alt="typing cat">
        </div>
        <div class="coding">
            <h3>Design and Devlopment</h3>
            <p>I started learning to code when i was in 2nd year of my collage.
                because i wanted to own website applications.Over time
                I have gained a wealth of experience desi
                gning and developing mobile and web applications. </p>
        </div>
        <div class="mansoon">
            <img src="ele.jpeg" alt="mansoon elephant">
        </div>  
         <div class="elephant">
          <h1>Beautyfull mansoon nature</h1>
          <p>But my best skill in travelling mansson nature</p>
           </div>  
        </div>

        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>If you love hot wings as much as I do.</h3>
            <p class="contact-message">Love hot wings as much as I do? <br>
                Let's talk about how awesome they are! 
               <br> We can code while we eat hot wings!</p>
             <a class="btn" href="rk7133615@gmail.com">CONTACT ME</a>
    </div>
    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/raushan-kumar-84841422b/" >Linkdin</a>
        <a class="footer-link" href="https://twitter.com/Raushan64542831">Twitter</a>
        <p class="copyright">@ Raushan kumar </p>
    </div>
</body>
</html>